* {
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 300 !important;
}
a {
    text-decoration: none;
}


/* footer */
footer {
    flex: 0 0 auto;
    min-height: 120px;
    padding: 16px 0;
    background: white;
    color: rgba(0,0,0,.65);
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 !important;
    margin-top: 20px;
}
footer p {
    line-height: 1.7em;
}
footer a {
    color: deeppink;
}
footer > div > div {
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#yy520 {
    width: 100%;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 0 12px;
}
.pjax-load {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    background-color: rgba(0,0,0,.15);
    flex-direction: column;
    display: none;
    align-items: center;
    justify-content: center;
}.pjax-load > img {
    width: 115px;
     border: 4px solid white;
    border-radius: 10px;
 }

/* alluse */
.shadow-1 {
    box-shadow: 0 1px 1px rgba(0,0,0,.22);
}
.shadow-2 {
    box-shadow: 0 1px 2px rgba(0,0,0,.22);
}
.shadow-5 {
    box-shadow: 0 1px 5px rgba(0,0,0,.22);
}
.marCenter {
    margin: 0 auto;
}
.colorBar {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right,lightblue,pink);
}
.borR5px {
    border-radius: 5px;
}
.position-ab-right {
    right: 0;
}
.justCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnclearDcss {
    outline: none;
    background: transparent;
    border: none;
}

body {
    padding-top: 80px;
}
body,html {height: 100%}
#body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#body > .mdui-container:first-child , .mdui-container-fluid:first-child {
    flex: 1 0 auto;
    color: gray;
    margin: 0 !important;
}
/* header */
header {
    width: 100%;
    position: fixed;
    top: 0;
    right: 190px;
    min-height: 50px;
    box-sizing: border-box;
    background-color: hsla(0,0%,100%,.4);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    padding: 0 30px;
    padding-left: 220px;
    z-index: 99;
}
.right-pageTagMenu {
    margin-left: 3%;
}
#controlBtn {
    width: 100%;
    height: 50px;
    display: none;
}
#loginOutUrl {
    padding-left: 0;
}
.header-tab-1 {
    height: auto;
    list-style: none;
    box-sizing: border-box;
}
.header-tab-1 > li {
    float: left;
}
.header-tab-1 > li > a {
    line-height: 50px;
    padding:0 20px;
    cursor: pointer;
    text-decoration: none;
    color: rgba(0,0,0,.5);
}
.header-tab-2 {
    margin: 0;
    float: right;
}
.blogBody {
    flex: 1 0 auto;
    color: gray;
    margin: 0 !important;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}
.blogBody-pos {
    position: relative;
}
.vBox {
    width: 90%;
    margin: 0 auto;
    min-height: 200px;
    padding-bottom: 30px;
    box-sizing: border-box;
    position: relative;
}
.bg-ovo {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px);
    opacity: .8;
    z-index: -100;
}
.pageTag {
    width: 90%;
    margin: 0 auto;
    position: relative;
    background: white;
    min-height: 200px;
    margin-top: 30px;
    display: flex;
    overflow: hidden;
    border-radius: 5px;
}
.pageTag > div {
    width: 50%;
    min-height: 205px;
    position: relative;
    display: inline-block;
}
.cardImage {
    overflow: hidden;
}
.cardContent {
    height: 200px;
    background: white;
    padding-bottom: 34px;
    box-sizing: border-box;
}.cardContent > .mdui-typo {
     padding: 0 12px;
     box-sizing: border-box;
 }
.cardImage-img {
    width: 100%;
    height: 100%;
    background: url("../img/test.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.5s;
    position: absolute;
}
.cardImage:hover .cardImage-img {
    transform: scale(1.1);
}
.readMore {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -21px;
    margin-left: -21px;
    color: white;
    cursor: pointer;
}
.readMore > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    color: grey;
    z-index: 98;
}
.sqReadMore {
   background: white;
    width: 100%;
    height: 100%;
    transform: rotateZ(45deg);
    transition: all 0.75s;
}
.readMore:hover .sqReadMore {
    opacity: 0.5;
    transform: rotateZ(70deg);
}
.hiddenSquare {
    width: 0;
    height: 0;
    border-bottom: 205px solid white;
    border-left: 50px solid transparent;
    border-right: 0 solid transparent;
    position: absolute;
    right: 0;
}
.ovo {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 34px;
    padding: 0 12px;
    box-sizing: border-box;
}
.ovo-icon {
    width: auto;
    height: 100%;
    line-height: 34px;
    font-size: 18px;
    float: right;
}
.dataIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0 10px;
    float: right;
}
.dataIcon > i {
    font-size: 18px;
    color: palevioletred;
}
.page-navigator {
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
.page-navigator > li {
    display: inline-block;
    height: 100%;
    margin: 0 3px;
    font-size: 1em;
    width: 50px;
    line-height: 30px;
    transition: all .5s;
}
.page-navigator > li:hover {
    background: rgba(0,0,0,.1);
}
.page-navigator > li > a {
    position: relative;
    z-index: -1;
    font-size: 1em;
    text-decoration: none;
    color: rgba(0,0,0,.5);
}
.nav-position {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.nav {
    background-color: hsla(0,0%,100%,.15);
    display: inline-block;
    border-radius: 3px;
    transition: all .75s;
    padding: 0 50px;
}
.nav:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    background-color: hsla(0,0%,100%,.4);
}
/* blogControl */
.control {
    border-radius: 5px;
    width: 90%;
    min-width: 280px;
    min-height: 500px;
    margin-top: 30px;
    padding: 20px 18px;
    box-sizing: border-box;
    background-color: white;
}

/* 搜索样式重写 */
.search {
    width: 100%;
    border-radius: 3px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.searchBtn {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 3;
    cursor: pointer;
}
.searchInput {
    width: 100%;
    height: 40px;
    padding-left: 50px;
    padding-right: 12px;
    box-sizing: border-box;
    border: none;
    color: gray;
    font-size: 15px;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    background: transparent;
    z-index: 2;
    opacity: 0;
}
.searchColor {
    width: 0;
    height: 40px;
    background: rgba(0,0,0,.025);
    position: absolute;
    border-radius: 0 20px 20px 0;
    z-index: 1;
}
.searchIN {
    animation: scearchInfo 0.75s;
    animation-fill-mode: forwards;
}
.searchData > h3 {
    color: white !important;
}
@keyframes scearchInfo {
    0% {width: 0}
    100% {width: 100%;border-radius: 5px}
}
.searchOut {
    animation: scearchOut 0.75s;
    animation-fill-mode: forwards;
}
@keyframes scearchOut {
    0% {width: 100%;border-radius: 5px}
    100% {width: 0;border-radius: 0 20px 20px 0;}
}

.control-border {
    width: 80%;
    margin: 8px auto !important;
}
.sortBy {
    display: flex;
    position: relative;
}
.sortBy > div {
    flex: 1;
    position: relative;
}
.sortBy > div > button {
    min-width: 100%;
    font-size: 0.88em;
    padding: 0;
}
.cat {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -15px;
    opacity: 0;
    background: url("../img/tab_cat.png") no-repeat right top / 20px;
    z-index: 0;
}
.cat1 {
    opacity: 1;
    top: 0;
    /* 神奇的操作 */
}
.tabCard {
    margin-top: 24px;
    display: none;
}
.firstTabCard {
    display: block;
}
.boaCon {
    width: 100%;
    min-height: 185px;
    letter-spacing: 1px;
}
.reply-comments {
    padding-left: 0.3em !important;
}
.newCom-data {
    height: 50px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}
.newCom-data > h6 {
   margin: 0 !important;
}
.newCom-data > p {
    font-size: 13px;
    word-break: break-word;
}
.com-readmore {
    position: absolute !important;
    right: 0;
    top: 22px;
    display: none;
    opacity: 0;
}
.reply-comments {
    margin: 0 !important;
}
.reply-comments > li:hover .com-readmore {
    display: block;
    opacity: 1;
}
.reply-comments > li {
    padding: 7px;
    position: relative;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50px;
    list-style: none;
    line-height: 37px;
    font-size: .97em;
}
.reply-comments > li > img {
    border-radius: 50%;
    margin-right: 8px;
    border: 1px solid rgba(0,0,0,.05);
}

/* 最新文章 样式订正 */
.nextNewPage {
    width: 90%;
    height: auto;
    position: relative;
    margin: 0 auto;
    margin-top: 24px;
    border-bottom: 1px solid rgba(0,0,0,.15);
    padding: 12px 18px;
    box-sizing: border-box;
    }.nextNewPage:after {
         content: '';
         width: 4px;
         height: 50%;
         position: absolute;
         bottom: auto;
         top: 0;
         left: 0;
         right: auto;
         background: pink;
     }.nextNewPage > a {
               color: gray !important;
           }.nextNewPageData > i {
    font-size: 16px;
                       }

/* PAGE */
.pageBody {
    padding: 16px;
    padding-bottom: 80px;
    min-height: 500px;
    position: relative;
    background: white;
    color: gray;
    margin-top: 20px;
}
.pageHead {
    letter-spacing: 1px;
    padding: 0 20px;
    height: auto;
}
.pageHead > span {
    float: right;
    margin-left: 20px;
}
.taptap {
    width: 100%;
    min-height: 30px;
}
.taptap > div {
    width: 50%;
    display: inline-block;
}
.pageDataRight {
    float: right;
    text-align: right;
}
.taptap > div > span {
    margin-right: 15px;
}
.taptap > div > span > i {
    font-size: 18px;
    margin-right: 3px;
}
.pageContent {
    padding: 0 35px;
}
.pay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
}
.pay > button {
    color: white;
    width: 155px;
    background-image: linear-gradient(to right,lightskyblue,pink);
}
#payImg {
    max-width: 400px;
    max-height: 600px;
}
.pageContent > p > img {
    max-width: 30em;
    margin: 0 auto;
}
.sibi {
    margin: 20px 0;
    margin-bottom: 70px;
    min-height: 200px;
    padding: 12px;
    box-sizing: border-box;
    padding-bottom: 120px;
    background: white;
    color: gray;
    position: relative;
}
.userIC {
    width: 100%;
    height: 42px;
    margin-top: 10px;
}
.getData-input {
    position: relative;
    margin-right: 30px;
    margin-bottom: 12px;
    height: 42px;
    box-shadow: 0 0 3px rgba(0,0,0,.12);
    border-radius: 3px;
}
.getData-input:after {
    content: '';
    width: 10px;
    text-align: center;
    height: 10px;
    border-radius: 50%;
    background: pink;
    letter-spacing: 2px;
    position: absolute;
    right: 5px;
    top: 5px;
}
#urls:after {
    background: lightblue;
}
.getData-input > input,#content > textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 12px;
    letter-spacing: 1px;
    font-size: 14px;
    color: gray;
}
#content {
    min-height: 120px;
}
#content > textarea {
    padding: 12px;
    resize: none;
    font-size: 14px;
    font-family: inherit;
    letter-spacing: 1px;
}
#subBtn {
    padding: 0;
}
#subBtn > button {
    width: 100%;
    height: 32px;
    color: white;
    border: none;
    outline: none;
    background-color: #8ec5fc;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,.15);
}


.comments {
    width: 100%;
    margin-top: 25px;
    padding: 0 20px;
    box-sizing: border-box;
    clear: both;
    position: relative;
    top: 24px;
}
.newBB {
    box-sizing: border-box;
    padding: 0 40px;
}
.comments > ol {
    padding-left: 0 !important;
}
.nextPrev {
    min-width: 300px;
    position: absolute;
    right:12px;
    bottom: 12px;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 3px;
}
.nextPrev > div {
    flex: 1;
    text-align: center;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
}
.nextPrev > div > i {
    font-size: 22px;
    margin: 0 12px;
}
.nextPrev > div > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    letter-spacing: 1px;
    color: gray;
}
#theFlexBor {
    width: 3px;
    height: 10px;
    background: pink;
    margin: 0 12px;
}
.userBB {
    width: 100%;
    margin-top: 8px;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    position: relative;
    box-sizing: border-box;
    padding-bottom: 8px;
    background-color: white;
}
.replyTools {
    width: 40px;
    height: 40px;
    line-height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}.replyBtn > i {
    color: rgba(0,0,0,.35);
 }.replyBtn > a {
    display: block;
    height: 40px;
    width: 40px;
    position: relative;
    z-index: 1;
    opacity: 0;
   }
.userBB:after {
    content: '';
    width: 3px;
    height: 50px;
    background: lightblue;
    position: absolute;
    top: 30px;
    right: 0;
}
.comment-children > ol > .userBB:after {
    background: #D2C2ED;
}
.userData {
    position: relative;
    padding: 3px 20px;
    margin: 10px 0;
}
.userIcon {
    width: 65px;
    height: 65px;
    position: relative;
    display: flex;
    align-items: center;
}
.userIcon > img {
    border-radius: 50%;
    position: absolute;
}
.userName {
    min-width: 200px;
    height: 65px;
    position: absolute;
    right: -200px;
    padding-left: 12px;
    box-sizing: border-box;
}

.name {
    font-size: 18px;
    height: 40px;
    line-height: 45px;
}
.Jurisdiction {
    height: 25px;
}
.userBB-Content {
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
}
.comment-list {
    position: relative;
    padding-left: 0.2em !important;
}
/*archive*/
.vCard {
    list-style: none !important;
    padding: 1px 0;
    margin-top: 20px;
}
.find-card-data {
    list-style: none;
}
/* animate */
.menuBackTop {
     animation: menuBack 0.4s;
     animation-fill-mode : forwards;
 }
@keyframes menuBack {
    0% {transform: translate(0,250px)}
    100% {transform: translate(0,0)}
}
.menuBackZero {
    animation: menuZero 0.4s;
    animation-fill-mode : forwards;
}
@keyframes menuZero {
    0% {transform: translate(0,0)}
    100% {transform: translate(0,250px)}
}
.controlBtnSS {
     animation: cbss 0.45s;
     animation-fill-mode : forwards;
 }
@keyframes cbss {
    0% {transform: rotateY(0);background-image: linear-gradient(120deg, #a1c4fd 100%, #c2e9fb 0%);}
    100% {transform: rotateY(180deg) ;background-image: none}
}
.controlBtnSB {
    animation: cbsb 0.45s;
    animation-fill-mode : forwards;
}
@keyframes cbsb {
    0% {transform: rotateY(180deg) ;background-image: none}
    100% {transform: rotateY(0);background-image: linear-gradient(120deg, #a1c4fd 100%, #c2e9fb 0%);}
}

/* 搜索结果 */
.searchData {
    color: rgba(0,0,0,.45);
}
.colorHi {
    width: 90%;
    height: 2px;
    margin: 12px auto;
    background: pink;
}
.s-data-card {
    margin-top: 20px;
}
.s-data-card-con {
    width: 98%;
    background: white;
    border-radius: 3px;
    padding: 0 24px !important;
    padding-bottom: 30px !important;
    padding-top: 8px !important;
    margin: 0 auto;
    box-sizing: border-box;
}


/* 0.1后新增样式 */
.vMenu {
    width: 190px;
    overflow: hidden;
    min-width: 190px;
    height: 100%;
    box-shadow: 0 0 3px rgba(0,0,0,.15);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
}
.v-menu-assembly-1 {
    width: 100%;
    height: 20%;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    position: relative;
}
.Blog-logo {
    width: 75%;
    min-height: 150px;
    position: relative;
    left: 12.5%;
    top: 50%;
}
.iam-img {
    width: 88%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 130px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,.15);
}
.iam-t {
    min-height: 100px;
    box-sizing: border-box;
    color: gray;
    margin-top: 10px;
}
.v-menu-assembly-2 {
    width: 100%;
    height: 80%;
    background: white;
}
.vMenu-onBtn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    z-index: 100;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.small-vMenu-list {
    width: 50px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    position: absolute;
    left: -50px;
    top: 0;
    height: 100%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.small-vMenu-list > a > li {
    width: 50px;
    height: 50px;
    list-style: none;
    line-height: 50px;
    text-align: center;
}
.small-vMenu-list > a > li > i {
    color: white;
}
.vMenu-onBtn > i {
    color: white;
}
.vMenu-item-list {
    position: relative;
    top: 250px;
    text-align: center;
}
.vMenu-item-list > a > li {
    width: 100%;
    height: 40px;
    color: gray;
    list-style: none;
    cursor: pointer;
    line-height: 40px;
}

.mobie-head {
    display: none;
    width: 70%;
    height: 50px;
    position: absolute;
    bottom: 0;
    z-index: 99;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;
    box-sizing: border-box;
    padding: 0 16px;
}

.shading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0,0,0,.1);
    z-index: 99;
}

/* pagefile */
.pagefile-body {
    color: rgba(0,0,0,.45);
}
.pagefile-body li {
    list-style: none;
}
.pf_post_list > li {
    width: 200px;
    min-width: 450px;
    height: 52px;
    box-sizing: border-box;
    padding: 12px 24px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background: white;
    position: relative;
    margin: 16px 0;
    list-style: none;
}

/* friend-links */

.linksCard {
    border-radius: 5px;
    background: white;
    width: 430px;
    margin-top: 30px;
    margin-left: 50px;
}
.colorBG {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    height: 4px;
    border-radius: 5px 5px 0 0;
}
.linkCon {
    height: auto;
    box-sizing: border-box;
    padding: 12px 16px;
    color: gray;
    position: relative;
    display: flex;
    align-items: center;
}
.links-text {
    width: auto;
}
.linkCon > img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    background-color: rgba(0,0,0,.15);
    border-radius: 50%;
}
.blogName {
    font-size: 20px;
    line-height: 1.8em;
    margin-bottom: 3px;
}
.blog-emmm {
    letter-spacing: 1px;
}
.body-404 > div {
    margin-top: 50px;
    font-size: 1.8em;
    color: white;
    letter-spacing: 5px;
    font-weight: 100;
}
.findMore-404 {
    position: relative;
    top: 30px;
    width: 100%;
    max-width: 500px;
    background: white;
}

/*留言*/
.i-tellYou {
    color: gray;
    padding: 0 !important;
    margin-bottom: 30px;
    background: white;
}
.i-tell-content {
    box-sizing: border-box;
    padding: 16px 20px !important;
    margin-bottom: 30px;
}
.can-you-Tell-me {
    height: 240px;
    background-color: pink;
    background: url("../img/bg.jpg") no-repeat center / cover;
}
.tellYou {
    margin: 30px 0;
}
.tellYou > .sibi {
    box-shadow: none;
    padding: 0;
}
.tellYou > .sibi > .nextPrev {
    display: none;
}

@media screen and (max-width: 600px){
    .archives ul {
        padding-left: 0 !important;
    }
    .pf_post_list > li {
        min-width: 95%;
        height: 45px;
    }

    .pageTag {
        width: 100% !important;
    }
    .vBox {
        width: 100% !important;
        padding-bottom: 0 !important;
    }
    /* 侧边栏适配方案 */
    .control {
        width: 100% !important;
        min-height: 450px;
        border-radius: 0 !important;
        opacity: 1 !important;
        padding-bottom: 5px;
    }
    .blogBody {
        margin-bottom: 0 !important;
    }
    .right-pageTagMenu {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .blogBody.mdui-container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    /* 文章卡片移动端适配 */
    .pageTag {
        display: block !important;
    }
    .pageTag > div {
        width: 100% !important;
    }
    .hiddenSquare {
        display: none !important;
    }
    .cardImage {
        min-height: 150px !important;
    }
    .cardContent {
        height: auto !important;
    }
    /* header适配方案 */
    .header-tab-1 > li {
        float: none !important;
    }
    .header-tab-2 {
        text-align: right;
        float: none !important;
    }
    header {
        z-index: 1000;
        position: fixed;
        top: -250px;
        background-color: white !important;
        padding: 0;
        right: 0;
        background: url("../img/menuBottom-bg.png") no-repeat center -100px / cover;
    }
    #controlBtn {
        box-sizing: border-box;
        background-image: linear-gradient(120deg, #a1c4fd 100%, #c2e9fb 0%);
       display: block;
        padding: 0 12px;
        position: relative;
        z-index: auto;
    }
    .mb-btn {width: 40px;
        height: 50px;
        border: none;
        background: transparent;
        outline: none;
    }
    .mb-btn > i {
        color: white;
    }
    #controlBtn > i {
        color: white;
    }
    /*  页面与header的交互 */

    /* 用户评论 */
    .newBB {
        padding: 0 20px;
    }
    .userBB {
        padding-bottom: 1px;
    }
    .userIcon {
        width: 70px;
        height: 70px;
    }
    .userName {
        height: 70px;
    }
    .name {
        height: 45px;
        line-height: 45px;
    }
    .Jurisdiction {
        height: 25px;
        line-height: 25px;
    }
    .comment-list {
        margin-bottom: 0.65em !important;
    }
    /* 文章详情 */
    .taptap > div {
        width: 100%;
    }
    .taptap > div > span {
        margin-right: 3px;
    }
    .pageDataRight {
        float: none;
        text-align: left;
    }
    .loginBtn {
        background: transparent;
    }
    .loginBtn > a {
        color: rgba(0,0,0,.45) !important;
    }

    .comments {
        padding: 0 12px;
    }
    .pageContent > p > img {
        max-width: 100%;
    }
    .pageContent a {
        word-break: break-word;
    }


    /*vMenu 移动端适配*/
    .mobie-head {
        display: block;
    }
    #open-Vmenu {
        z-index: 99999;
    }
    .vMenu {
        z-index: 1000;
        right: -190px;
        top: 0;
        visibility: visible;
    }
    .vMenu-onBtn {
        display: none;
    }
    body {
        padding-top: 0;
    }
    footer {
        min-height: 105px;
    }
    footer > div > div {
        height: auto;
    }
    #body {
        padding-top: 60px;
        padding-right: 0 !important;
    }
    .nextPrev {
        max-width: 90%;
    }

    .linksCard {
        width: 100%;
    }
    .linkCon {
        padding: 8px 12px;
    }
    .linksCard {
        margin-left: 0;
        margin-top: 18px;
    }

    #newFriend {
        right: 16px;
    }
}
@media screen and (max-width: 1550px){
    .control {
        width: 100%;
    }
    .blogBody-pos {
        left: 2% !important;
    }
}
@media screen and (max-width: 1022px){
    #body {
        box-sizing: border-box;
        padding-right: 50px;
    }
    .right-pageTagMenu {
        margin-left: 0;
    }
    .blogBody-pos {
        left: 0 !important;
    }
}
@media screen and (max-width: 1240px){
    .pageTag {
        width: 100%;
    }
    .nice {
        width: 100%;
    }
}