* {
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 300 !important;
}
/* alluse */
.shadow-1 {
    box-shadow: 0 1px 1px rgba(0,0,0,.22);
}
.shadow-2 {
    box-shadow: 0 1px 2px rgba(0,0,0,.22);
}
.shadow-5 {
    box-shadow: 0 1px 5px rgba(0,0,0,.22);
}
.marCenter {
    margin: 0 auto;
}
.colorBar {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right,lightblue,pink);
}
.borR5px {
    border-radius: 5px;
}
.position-ab-right {
    right: 0;
}
.justCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    padding-top: 80px;
}
/* header */
header {
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 50px;
    margin-bottom: 25px;
    box-sizing: border-box;
    background-color: hsla(0,0%,100%,.4);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    padding: 0 30px;
    z-index: 99;
}
#controlBtn {
    display: none;
}
#loginOutUrl {
    padding-left: 0;
}
.header-tab-1 {
    height: auto;
    list-style: none;
    box-sizing: border-box;
}
.header-tab-1 > li {
    float: left;
}
.header-tab-1 > li > a {
    line-height: 50px;
    padding:0 20px;
    cursor: pointer;
    text-decoration: none;
    color: rgba(0,0,0,.5);
}
.header-tab-2 {
    margin: 0;
    float: right;
}
/* blogBody */
.nice {
    width: 90%;
    min-height: 100px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.blogBody {
    color: gray;
    margin-bottom: 50px;
}
.vBox {
    width: 90%;
    margin: 0 auto;
    min-height: 200px;
    padding-bottom: 30px;
    box-sizing: border-box;
}
.bg-ovo {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: url("img/bg.jpg") no-repeat center / cover;
    filter: blur(4px);
    opacity: .8;
    z-index: -100;
}
.pageTag {
    width: 90%;
    margin: 0 auto;
    background: white;
    min-height: 200px;
    margin-top: 30px;
    display: flex;
    overflow: hidden;
}
.pageTag > div {
    width: 50%;
    min-height: 200px;
    position: relative;
    display: inline-block;
}
.cardImage {
    overflow: hidden;
}
.cardContent {
    height: 200px;
    background: white;
    padding-bottom: 34px;
    box-sizing: border-box;
}.cardContent > .mdui-typo {
     padding: 0 12px;
     box-sizing: border-box;
 }
.cardImage-img {
    width: 100%;
    height: 100%;
    background: url("img/test.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.5s;
    position: absolute;
}
.cardImage:hover .cardImage-img {
    transform: scale(1.1);
}
.readMore {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -21px;
    margin-left: -21px;
    color: white;
    cursor: pointer;
}
.readMore > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    color: grey;
    z-index: 999;
}
.sqReadMore {
   background: white;
    width: 100%;
    height: 100%;
    transform: rotateZ(45deg);
    transition: all 0.75s;
}
.readMore:hover .sqReadMore {
    opacity: 0.5;
    transform: rotateZ(70deg);
}
.hiddenSquare {
    width: 0;
    height: 0;
    border-bottom: 200px solid white;
    border-left: 50px solid transparent;
    border-right: 0 solid transparent;
    position: absolute;
    right: 0;
}
.ovo {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 34px;
    padding: 0 12px;
    box-sizing: border-box;
}
.ovo-icon {
    width: auto;
    height: 100%;
    line-height: 34px;
    font-size: 18px;
    float: right;
}
.dataIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0 10px;
    float: right;
}
.dataIcon > i {
    font-size: 18px;
    color: palevioletred;
}
.page-navigator {
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
.page-navigator > li {
    display: inline-block;
    height: 100%;
    margin: 0 3px;
    font-size: 1em;
    width: 50px;
    line-height: 30px;
    transition: all .5s;
}
.page-navigator > li:hover {
    background: rgba(0,0,0,.1);
}
.page-navigator > li > a {
    font-size: 1em;
    text-decoration: none;
    color: rgba(0,0,0,.5);
}
.nav-position {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.nav {
    background-color: hsla(0,0%,100%,.15);
    display: inline-block;
    border-radius: 3px;
    transition: all .75s;
    padding: 0 50px;
}
.nav:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    background-color: hsla(0,0%,100%,.5);
}
/* blogControl */
.control {
    border-radius: 5px;
    width: 90%;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px 18px;
    box-sizing: border-box;
    background-color: white;
}

/* 搜索样式重写 */
.search {
    width: 100%;
    border-radius: 3px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}
.searchBtn {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 3;
    cursor: pointer;
}
.searchInput {
    width: 100%;
    height: 40px;
    padding-left: 50px;
    box-sizing: border-box;
    border: none;
    color: gray;
    font-size: 15px;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    background: transparent;
    z-index: 2;
    opacity: 0;
}
.searchColor {
    width: 0;
    height: 40px;
    background: rgba(0,0,0,.05);
    position: absolute;
    border-radius: 0 20px 20px 0;
    z-index: 1;
}
.searchIN {
    animation: scearchInfo 0.75s;
    animation-fill-mode: forwards;
}
@keyframes scearchInfo {
    0% {width: 0}
    100% {width: 100%;border-radius: 5px}
}
.searchOut {
    animation: scearchOut 0.75s;
    animation-fill-mode: forwards;
}
@keyframes scearchOut {
    0% {width: 100%;border-radius: 5px}
    100% {width: 0;border-radius: 0 20px 20px 0;}
}

.control-border {
    width: 80%;
    margin: 8px auto !important;
}
.sortBy {
    display: flex;
    position: relative;
}
.sortBy > div {
    flex: 1;
    position: relative;
}
.sortBy > div > button {
    min-width: 100%;
    font-size: 0.88em;
    padding: 0;
    z-index: 1;
}
.cat {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -15px;
    opacity: 0;
    background: url("img/tab_cat.png") no-repeat right top / 20px;
    z-index: 0;
}
.cat1 {
    opacity: 1;
    top: 0;
    /* 神奇的操作 */
}
.tabCard {
    margin-top: 24px;
    display: none;
}
.firstTabCard {
    display: block;
}
.boaCon {
    width: 100%;
    max-height: 185Px;
    letter-spacing: 1px;
    overflow: hidden;
}
.boaCon > ul {
    padding: 0;
}
.boaCon > ul > li {
    list-style: none;
    line-height: 37px;
    font-size: .97em;
}

/* 最新文章 样式订正 */
.nextNewPage {
    width: 90%;
    height: auto;
    position: relative;
    margin: 0 auto;
    margin-top: 24px;
    border-bottom: 1px solid rgba(0,0,0,.15);
    padding: 12px 18px;
    box-sizing: border-box;
    }.nextNewPage:after {
         content: '';
         width: 4px;
         height: 50%;
         position: absolute;
         bottom: auto;
         top: 0;
         left: 0;
         right: auto;
         background: pink;
     }.nextNewPage > a {
               color: gray !important;
           }.nextNewPageData > i {
    font-size: 16px;
                       }


/* footer */
footer {
    width: 100%;
    height: 50px;
    position: fixed;
    background: white;
    color: rgba(0,0,0,.65);
    bottom: -50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    z-index: 999;
    opacity: 0;
}

/* PAGE */
.pageBody {
    padding: 16px;
    min-height: 400px;
    position: relative;
    background: white;
    color: gray;
}
.pageHead {
    letter-spacing: 1px;
    padding: 0 20px;
    height: auto;
}
.pageHead > span {
    float: right;
    margin-left: 20px;
}
.taptap {
    width: 100%;
    min-height: 30px;
}
.taptap > div {
    width: 50%;
    display: inline-block;
}
.pageDataRight {
    float: right;
    text-align: right;
}
.taptap > div > span {
    margin-right: 15px;
}
.taptap > div > span > i {
    font-size: 18px;
    margin-right: 3px;
}
.pageContent {
    padding: 0 35px;
}
.sibi {
    margin: 20px 0;
    min-height: 200px;
    padding: 12px;
    box-sizing: border-box;
    padding-bottom: 70px;
    background: white;
    color: gray;
}
.userIC {
    width: 100%;
    height: 42px;
    margin-top: 10px;
}
.getData-input {
    position: relative;
    margin-right: 30px;
    margin-bottom: 12px;
    height: 42px;
    box-shadow: 0 0 3px rgba(0,0,0,.12);
}
.getData-input:after {
    content: '';
    width: 10px;
    text-align: center;
    height: 10px;
    border-radius: 50%;
    background: pink;
    letter-spacing: 2px;
    position: absolute;
    right: 5px;
    top: 5px;
}
#urls:after {
    background: lightblue;
}
.getData-input > input,#content > textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 12px;
    letter-spacing: 1px;
    font-size: 14px;
    color: gray;
}
#content {
    min-height: 120px;
}
#content > textarea {
    padding: 12px;
    resize: none;
    font-size: 14px;
    font-family: inherit;
    letter-spacing: 1px;
}
#subBtn {
    padding: 0;
}
#subBtn > button {
    width: 100%;
    height: 32px;
    color: white;
    border: none;
    outline: none;
    background-color: #8ec5fc;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,.15);
}



.comments {
    margin-top: 25px;
    padding: 0 20px;
    clear: both;
    position: relative;
    top: 24px;
}
.userBB {
    margin-top: 16px;
}
.userData {
    position: relative;
    padding: 5px 20px;
    margin: 10px 0;
}
.userIcon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    background: url("img/icon.jpg") no-repeat center / cover;
}
.userName {
    min-width: 200px;
    height: 100px;
    position: absolute;
    right: -210px;
    padding-left: 12px;
    box-sizing: border-box;
}
.name {
    font-size: 18px;
    height: 60px;
    line-height: 60px;
}
.Jurisdiction {
    height: 20px;
}
.userBB-Content {
    width: 100%;
    min-height: 70px;
    padding: 10px 12px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
/*archive*/
.vCard {
    list-style: none !important;
    padding: 1px 0;
    margin-top: 20px;
}
.find-card-data {
    list-style: none;
}

@media screen and (max-width: 1440px){
    .control {
        width: 100%;
    }
}
@media screen and (max-width: 1240px){
    .vBox {
        width: 100%;
    }
    .pageTag {
        width: 100%;
    }
    .nice {
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    .pageTag {
        width: 100% !important;
    }
    .vBox {
        width: 100% !important;
        padding-bottom: 0 !important;
    }
    /* 侧边栏适配方案 */
    .control {
        width: 100% !important;
        padding-bottom: 70px !important;
    }
    .blogBody {
        margin-bottom: 0 !important;
    }
    .right-pageTagMenu {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .blogBody.mdui-container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .control {
        min-height: 400px;
        border-radius: 0 !important;
        opacity: 1 !important;
    }
    /* 文章卡片移动端适配 */
    .pageTag {
        display: block !important;
    }
    .pageTag > div {
        width: 100% !important;
    }
    .hiddenSquare {
        display: none !important;
    }
    .cardImage {
        min-height: 150px !important;
    }
    .cardContent {
        height: auto !important;
    }
    /* header适配方案 */
    .header-tab-1 > li {
        float: none !important;
    }
    .header-tab-2 {
        text-align: right;
        float: none !important;
    }
    header {
        z-index: 99999;
        position: fixed;
        top: -250px;
        background-color: white !important;
        padding: 0;
        background: url("img/menuBottom-bg.png") no-repeat bottom / cover;
    }
    #controlBtn {
        background-color: #E91E63;
        display: block !important;
    }
    /*  页面与header的交互 */

    /* 用户评论 */
    .userIcon {
        width: 70px;
        height: 70px;
    }
    .userName {
        height: 70px;
    }
    .name {
        height: 45px;
        line-height: 45px;
    }
    .Jurisdiction {
        height: 25px;
        line-height: 25px;
    }
    /* 文章详情 */
    .taptap > div {
        width: 100%;
    }
    .pageDataRight {
        float: none;
        text-align: left;
    }
    .loginBtn {
        background: transparent;
    }
    .loginBtn > a {
        color: rgba(0,0,0,.45) !important;
    }

    .comments {
        padding: 0 12px;
    }
}

/* animate */
.menuBackTop {
     animation: menuBack 0.4s;
     animation-fill-mode : forwards;
 }
@keyframes menuBack {
    0% {transform: translate(0,250px)}
    100% {transform: translate(0,0)}
}
.menuBackZero {
    animation: menuZero 0.4s;
    animation-fill-mode : forwards;
}
@keyframes menuZero {
    0% {transform: translate(0,0)}
    100% {transform: translate(0,250px)}
}
.controlBtnSS {
     animation: cbss 0.45s;
     animation-fill-mode : forwards;
 }
@keyframes cbss {
    0% {transform: rotateY(0);background-color: #E91E63}
    100% {transform: rotateY(180deg) ;background-color: transparent}
}
.controlBtnSB {
    animation: cbsb 0.45s;
    animation-fill-mode : forwards;
}
@keyframes cbsb {
    0% {transform: rotateY(180deg) ;background-color: transparent}
    100% {transform: rotateY(0);background-color: #E91E63}
}

/* 搜索结果 */
.searchData {
    color: gray;
}
.colorHi {
    width: 100%;
    height: 3px;
    background: pink;
}
.s-data-card {
    margin-top: 20px;
}
.s-data-card-con {
    width: 98%;
    padding: 0 24px !important;
    padding-bottom: 30px !important;
    padding-top: 8px !important;
    margin: 0 auto;
    box-sizing: border-box;
}